.home-bg-container{
    background-color:#FFFFFF ;
    min-height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: "metropolisregular, Arial, sans-serif";
}

.home-contact-label{
    background-color: #fcfdfe;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    color:#FFFFFF;
    font-size: 8px;
    padding:10px;
   

}

.home-contact-icon{
    align-self: center;
    font-size: 16px;
    margin-top: 1px;
}

.navItems-route-list{
    display: none;
}

.save-offer{
    width:100%;
    background-color: #b52e2e;
    font-weight: bold;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    margin:6px;
}
.department-container{
    width:90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;

}

.latest-post-container{
    width:90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;

}

.home-shopping-department{
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.stay-in-loop-section{
    background-color: #D5E1ED;
    padding: 40px 20px 20px;
    text-align: center;
    width:90%;
    margin-top: 30px;
    margin-bottom: 30px;

}

.stay-loop-description{
    font-size: 15px;
    font-weight: 700;
    margin-top: 0px;
    color: #333333;
   

}

.mail-listing{
    color: #2E6BA7;
    text-shadow:  1px 1px rgba(0, 0, 0, 0.004);
    font-size: 15px;
}

.trending-data-container{
    width:90%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.trusted-component-section{
    display: flex;
    width:90%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.following-section-container{
    text-align: center;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    margin-top: 20px;
    height: 20px;
    align-items: center;
    align-self: center;
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
}

.social-network-container{
    color: #111;
    padding: 2%;
    letter-spacing: 0.01em;
    text-align: center;
    max-width: 500px;
    position: absolute;
    margin-top: 100px;
    margin-left: 68px;
    align-items: center;
    align-self: center;      
}

.question-section{
    font-size: 2.5em !important;
    font-weight: 700;
    line-height: 1.1;
 
}

.question-description{
    font-size: 18px;
}

.social-btn-section{
    background-color: #FF574A;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 1.3em;
    border: 1px solid transparent;
    padding:6px;
    border-radius: 6px;
}

.expert-picks-container{
   display:none;
   text-align: center;
}

@media (min-width:800px){
    .navItems-route-list{
        display: flex;
        width: 90%;
              
        list-style: none;
                justify-content: space-between;
                margin-top: 0px;
                padding: 13px;
    }

    .save-offer{
        display: none;
    }

    .people-search-container{
        height:100px;
    }

    .stay-loop-description{
        font-size: 18px;
        font-weight: 700;
        margin-top: 0px;
        color: #333333;
        margin-bottom: 10px;
    
    }

    .mail-listing{
        color: #2E6BA7;
        text-shadow:  1px 1px rgba(0, 0, 0, 0.004);
        font-size: 18px;
    }

    .latest-post-container{
        width:90%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
    
    }

    .expert-picks-container{
        display: block;
        background-color: #5c44e3;
        border-bottom: #FFF9ED solid 2px;
        border-top: #FFF9ED solid 2px;
        color: #fcfbfb;
        text-align: center;
        padding: 20px 0;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    
    .experts-pick-heading{
        margin-top: 0;
        margin-bottom: 6px;
        font-size: 2.3em;
        letter-spacing: 0.01em;
        color: #faf8f7;
    }

    .view-product-btn{
        color: #fff;
        padding: 15px 20px;
        font-weight: bold;
        border-radius: 10px;
        border: none;
        margin-top: 8px;
    }
}
